<div fxLayout="row"
class="content"
fxLayoutAlign="center"
fxFlexFill>
  <div fxFlex fxLayoutAlign ="strech">
    <!-- <img mat-image src="../../../assets/background/login.jpg"/> -->
  </div>
  <div fxLayoutAlign="end center">
    <mat-card>
      <mat-card-title> Login Page </mat-card-title>
      <mat-card-content>
        <form class="example-form">
          <div>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Email</mat-label>
              <input
                type="email"
                matInput
                [formControl]="emailFormControl"
                [errorStateMatcher]="matcher"
                placeholder="Ex. pat@example.com"
              />
              <mat-hint style="color: red;">Enter Email Id!</mat-hint>
              <mat-error
                *ngIf="
                  emailFormControl.hasError('email') &&
                  !emailFormControl.hasError('required')
                "
              >
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Password</mat-label>
              <input
                type="text"
                matInput
                [formControl]="passwordFormControl"
                [errorStateMatcher]="matcher"
                placeholder="Password Please"
              />
              <mat-hint style="color: red;">Enter your Password!</mat-hint>
              <mat-error
                *ngIf="
                  passwordFormControl.hasError('password') &&
                  !passwordFormControl.hasError('required')
                "
              >
                Please enter a valid Password
              </mat-error>
              <mat-error *ngIf="passwordFormControl.hasError('required')">
                Password is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button style=
        "background-color:green; color:white" routerLink="signup">SignUp</button>
        <button mat-button style=
        "background-color:blue; color:white">Login</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
