mat-card {
  max-width: 500px;
  // margin: 10em auto;
  text-align: center;
  margin-right: 10px;
  background-image: url(../../../assets/background/background.jpg);
}

mat-form-field {
  display: block;
}
