<div fxLayout="row" class="content" fxLayoutAlign="center center" fxFlexFill>
  <div fxFlex fxLayoutAlign="center" class="content">
    <mat-card>
      <mat-card-title style="color: blue;">My Details </mat-card-title>
      <mat-card-content>
      <form>
        <div>
          <mat-form-field>
            <input matInput placeholder="Name" required />
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="Enter your email" required />
            <mat-icon matSuffix>drafts</mat-icon>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input type="tel" matInput placeholder="Mobile Number" required />
            <mat-icon matSuffix>call</mat-icon>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="Query About" required />
            <mat-icon matSuffix>create</mat-icon>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <textarea
              matInput
              placeholder="Note"
              required
              rows="3"
            ></textarea>
            <mat-icon matSuffix>save</mat-icon>
          </mat-form-field>
        </div>
      </form>
      </mat-card-content>
      <mat-card-actions>
        <div>
          <button mat-raised-button class="btn-custom" mat-button style=
          "background-color:blue; color:white">
            Send Now<i class="material-icons"> send </i>
          </button>
        </div>
    </mat-card-actions>
    </mat-card>
  </div>
</div>
